.page-header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:1.5rem;
}

.page-title{display:flex;align-items:center;}

.table-tools{
  display:flex;
  justify-content:space-between;
  margin-bottom:1rem;
}

.no-data{
  text-align:center;
  padding:2rem;
  font-style:italic;
}

.owner-thumb{
  width:48px;
  height:48px;
  object-fit:cover;
}

.hidden-lg{
  max-width:250px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.avatar-hex {
  -webkit-clip-path: polygon(25% 3%, 75% 3%, 100% 50%, 75% 97%, 25% 97%, 0 50%);
  clip-path: polygon(25% 3%, 75% 3%, 100% 50%, 75% 97%, 25% 97%, 0 50%);
}
